                                
body {
    background-color: rgb(12, 104, 12);
}

.base {
    position: relative;
}

.ds-background img {
    animation-duration: 3s;
  animation-name: slidein; 
}

.main-content {
    background-color: blue;
}

#base-img{
    width: 50%;
    margin-left: 25%; 
    position: relative;

}

.y-a-buttons img {
    width: 4%;
    margin: 2%;
}

.x-b-buttons img {
    width: 4%;
    margin: 2%;
}

/* can you do this with flexbox? */

#y-button {
    position: absolute;
    bottom: 25%;
    left: 62%;
    /* font-size: 20x; */
}

#a-button {
    position: absolute;
    bottom: 25%;
    left: 68%; 
}

#x-button {
    position: absolute;
    bottom: 30.5%;
    left: 65%;
}

#b-button {
    position: absolute;
    bottom: 19%;
    left: 65%;
}

#ds1 {
    position: absolute;
    left: 38.5%;
    bottom: 59.5%;
    width: 23%;
}

#ds2 {
    position: absolute;
    left: 38.5%;
    bottom: 9.5%;
    width: 23%;
}

#profile-picture {
    position: absolute;
    width: 10%;
    left: 45%;
    bottom: 9.5%;
    animation: fadeIn 4s;
}

#name {
    position: absolute;
    width: 17%;
    left: 41%;
    bottom: 70%;
    animation: fadeIn 4s, floating;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-top: 5px;
}

/* content section */

.about-me {
    background-color: blue;
}

.my-works {
    background-color: purple;
}

.contact-me {
    background-color: red;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
}

.card1 {
    border: 3px solid black;
    margin: 2% 5% auto 5%;
    width: 90%;
    background-color: white;
}

.card2 {
    border: 3px solid black;
    margin: 0.5% 0.5% 2% 5%;
    width: 50%;
    background-color: white;
}

.card3 {
    border: 3px solid black;
    margin: 0.5% 4% 2% 0.5%;
    width: 50%;
    background-color: white;
}


/* how do you have multiple of these? just set different times? */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

  @keyframes slidein {
    from {
      bottom: 20%;
      width: 23%;
    }
  
    to {
      margin-left: 0%;
      width: 23%;
    }
  }
/* p {
    display: none;
    font-size: 20px;
  } */


/* .y:hover::before {
} 

div:hover p {
    display: block;
    position: absolute;
    left: 30%;
    bottom: 50%;
  } */
/* this isn't working */

/* also tried "title" in the html which worked but didn't let me format */

/* make a section appear/disappear as you scroll or click on something? */




/* figure { 
    position: relative; display: block; overflow: hidden; }
    figure img { max-width: 100% }
    figure .caption { position: absolute; display: block; top: 0; left: 0; height: 100%; width: 100%; opacity: 0; transition: all .2s ease-in-out }
    figure:hover .caption { opacity: 1; 
    }  */